<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVMNT Gym - <%= title %></title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <!-- <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/style-shop.css"> -->
</head>
<body>
    <%- include('../partials/header') %>
    
    <%- body %>
    
    <%- include('../partials/footer') %>
    
    <!-- Common Scripts -->
    <script src="/js/script.js"></script>
    <script src="/js/booking.js"></script>
    <script src="/js/classes.js"></script>
    <script src="/js/members.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/all-products.js"></script>
    <script src="/js/on-sale.js"></script>
    <script src="/js/supplements.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/dashboard.js"></script>
    
    <!-- Page-specific Scripts -->
    <%- defineContent('scripts') %>
</body>
</html> 